<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YB_UILableColorChange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E2F387D1D653B3600DFD6D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E2F38961D653B3600DFD6D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E2F38A11D653B3700DFD6D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
